* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #020617;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 26px;
}

.logo span {
  color: #38bdf8;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #38bdf8;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 span {
  color: #38bdf8;
}

section {
  padding: 60px 80px;
}

h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.skill {
  margin-bottom: 15px;
}

.bar {
  background: #334155;
  border-radius: 10px;
  overflow: hidden;
}

.bar span {
  display: block;
  height: 10px;
  background: #38bdf8;
}

.project-card,
.edu-box {
  background: #020617;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.03);
}

a {
  color: #38bdf8;
}
